.vscode/**
.vscode-test/**
.devcontainer/**
.github/**
out/**
node_modules/**
src/**
.gitignore
.npmrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.prettierignore
.cspell.json
doc/overwrite-error.png
.node-version
